@import 'variables';

.modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $modal-holder-z-index;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: $primary-light;
    box-shadow: $shadow;
    max-width: 25rem;
    display: grid;
    grid-template-areas:
      'icon message'
      'options options';
  }

  .icon {
    grid-area: icon;
    color: $accent;
    padding: 1.25rem;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
  }

  .message {
    grid-area: message;
    padding: 1.25rem;
    color: $secondary-text;
    font-family: $font;
  }

  .options {
    grid-area: options;
    padding-bottom: 0.625rem;
    display: flex;
    justify-content: center;
  }

  .option {
    padding: 0.3125rem 0.625rem;
    font-family: $font;
    color: $primary-text;
    background-color: $background-color;
    margin: 0 0.625rem;
    cursor: pointer;
    text-transform: capitalize;
  }

  .preferred {
    border: 1px solid rgba($accent, 0.5);
    border-bottom: 1px solid $accent;
  }

  .option:hover {
    color: $secondary-text;
  }
}

#modal-template {
  display: none;
}



#notification-toasts-holder {
  z-index: $notification-toasts-holder-z-index;
  position: fixed;
  top: 7.5rem;
  right: 0px;
  padding-right: 1.25rem;
  background-color: transparent;
}

.notification-toast {
  transform: translateX(calc(100% + 1.25rem));
  background-color: $primary-light;
  margin: 0.625rem 0;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 1px solid rgba($accent, 0.5);
  overflow: hidden;
  white-space: nowrap;
  transition: transform 200ms ease-in;
  box-shadow: $shadow;

  .icon {
    color: $accent;
    padding: 0 0.625rem 0 0.3125rem;
  }

  .message {
    font-family: $font;
    color: $secondary-text;
  }

  .close-button {
    color: $primary-text;
    padding: 0 0.625rem 0 0.9375rem;
  }
}

.slideInToast {
  transform: translateX(0);
}

#notification-toast-template, #source-tile-template, #country-toast-template, #filter-option-template {
  display: none;
}