@import 'variables';

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: darken($primary-text, 20%); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $accent; 
}

::-webkit-scrollbar-track-piece {
	background: lighten($primary-light, 5%); 
}


header {
  background-color: $primary-light;
  height: $header-height;
  width: 100%;
  color: $primary-text;
  box-shadow: $shadow;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $header-z-index;

  #logo-container {
    position: relative;
    height: $header-height;
    display: inline-flex;
    align-items: center;
    z-index: $logo-and-nav-z-index;
    text-decoration: none;

    #logo {
      text-transform: uppercase;
      font-size: 1.875rem;
      font-family: $font;
      font-weight: 600;
      padding: 0 1.25rem;
      color: $primary-text;

      span {
        text-transform: lowercase;
        font-size: 0.875rem;
      }
    }
  }

  #search-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $header-height;

    #search {
      border-bottom: 1px solid $primary-text;
    }

    input {
      background-color: transparent;
      border: none;
      color: $primary-text;
      font-size: 1.125rem;
      padding-left: 5px;
    }

    input:focus {
      outline: none !important;
    }
  }

  nav {
    height: $header-height;
    float: right;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 1.25rem;
    z-index: $logo-and-nav-z-index;
    position: relative;

    .button {
      padding: 0.3125rem 0.625rem;
      font-size: 1.375rem;
      display: flex;
      align-items: center;
      background-color: $background-color;
      border-radius: 0.3125rem;
      cursor: default;

      .text {
        font-family: $font;
        padding-left: 0.3125rem;
        font-size: 1rem;
      }
    }
  }
}

main {
  margin-top: $header-height;
  width: 100%;
  height: calc(100% - #{$header-height});
  display: flex;

  .button-holder {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 1.5625rem;
    font-size: 5rem;
    color: $accent;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12);

    i {
      cursor: pointer;
    }
  }
  .button-holder:first-child {
    flex-direction: row-reverse;

    i {
      opacity: 0;
      cursor: auto;
    }
  }

  #no-news {
    position: absolute;
    top: $header-height;
    left: 0;
    font-family: $font;
    width: 100%;
    background-color: $background-color;
    height: calc(100% - #{$header-height});
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    
    .title {
      font-weight: 600;
      font-size: 2.5rem;
      color: $accent;
    }
    
    ul {
      margin-top: 1.25rem;
      color: $secondary-text;
      font-size: 1.25rem;
    }
  }

  #cards-holder {
    display: flex;
    align-items: center;
  }

  .news-card {
    height: calc(100vh - #{$header-height} - 7.5rem);
    width: calc(((100vh - #{$header-height} - 7.5rem) / 9 ) * 16);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $secondary-text;
    font-family: $font;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    box-shadow: 0px -5px 5px -3px rgba(0, 0, 0, 0.2), 0px -8px 10px 1px rgba(0, 0, 0, 0.14), 0px -3px 14px 2px rgba(0, 0, 0, 0.12);
    transition: all 300ms linear;
    user-select: none;
    text-decoration: none;

    .headline {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      font-size: 1.875rem;
      font-weight: 600;
      padding-bottom: 0.625rem;
    }

    .info {
      display: flex;
      font-size: 0.75rem;
      padding-bottom: 0.625rem;
    }

    .source {
      border-right: 1px solid $secondary-text;
      padding-right: 0.625rem;
    }

    .time {
      border-left: 1px solid $secondary-text;
      padding-left: 0.625rem;
    }

    .description {
      font-size: 1.375rem;
    }
  }

  #cards-holder > .news-card{
    display: none;
  }

  #slideshow {
    position: relative;
    height: calc(100vh - #{$header-height} - 7.5rem);
    width: calc(((100vh - #{$header-height} - 7.5rem) / 9 ) * 16);
    z-index: $slideshow-z-index;

    .previous {
      opacity: 0;
      transform: translateY(100%);
    }

    .one {
      position: absolute;
      left: 0;
      top: 0;
      z-index: $slideshow-one-z-index;
    }
    
    .two {
      height: calc(100vh - #{$header-height} - 7.5rem - 2.5rem);
      width: calc(((100vh - #{$header-height} - 7.5rem - 2.5rem) / 9 ) * 16);
      position: absolute;
      top: -1.25rem;
      // left: 20px;
      left: calc(((((100vh - #{$header-height} - 7.5rem) / 9 ) * 16) - (((100vh - #{$header-height} - 7.5rem - 2.5rem) / 9 ) * 16)) / 2);
      z-index: $slideshow-two-z-index;
      padding: 0;
    }

    .three {
      height: calc(100vh - #{$header-height} - 7.5rem - 5rem);
      width: calc(((100vh - #{$header-height} - 7.5rem - 5rem) / 9 ) * 16);
      position: absolute;
      top: -2.5rem;
      // left: 40px;
      left: calc(((((100vh - #{$header-height} - 7.5rem) / 9 ) * 16) - (((100vh - #{$header-height} - 7.5rem - 5rem) / 9 ) * 16)) / 2);
      z-index: $slideshow-three-z-index;
      padding: 0;
    }
  }
}

#news-card-template {
  display: none;
}

@keyframes clockHand {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(270deg);
  }
}

#wait-clock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: $header-height;
  background-clip: content-box;
  background-color: $background-color;
  z-index: $wait-clock-z-index;
  display: none;
  justify-content: center;
  align-items: center;

  #clock-rim {
    position: relative;
    border: 0.25rem solid $accent;
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    background-image: radial-gradient(circle, $background-color, $primary-light);
  }

  #minute-hand, #hour-hand {
    position: absolute;
    left: calc(50%);
    top: calc(50% - 0.125rem);
    height: 0.25rem;
    background-color: $accent;
    transform-origin: left;
    transform: rotate(-90deg);
    border-radius: 0.3125rem;
    
  }

  #minute-hand {
    width: 2.5rem;
    animation: clockHand 1.5s linear infinite;
  }

  #hour-hand {
    width: 1.875rem;
    animation: clockHand 18s linear infinite;
  }

  #text {
    font-family: $font;
    color: $primary-text;
    font-weight: 600;
    font-size: 3.125rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    display: none;
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.slideDown {
  animation-name: slideDown;
  z-index: $slideDown-z-index !important;
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slideUp {
  animation-name: slideUp;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    cursor: auto;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    cursor: pointer;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.animated {
  animation-duration: 500ms;
  animation-fill-mode: both;
}


@keyframes scrollOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(90deg);
  }
}

.scrollOut {
  animation-name: scrollOut;
  animation-duration: 200ms;
  animation-fill-mode: both;
}

@keyframes scrollIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    color: $accent;
    transform: rotate(180deg);
  }
}

.scrollIn {
  animation-name: scrollIn;
  animation-duration: 200ms;
  animation-fill-mode: both;
}

#device-not-supported {
  width: 100%;
  margin-top: $header-height;
  font-family: $font;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;

  .title {
    font-weight: 600;
    font-size: 1.5rem;
    color: $accent;
    text-align: center;
  }
  
  ul {
    margin-top: 1.25rem;
    color: $secondary-text;
    font-size: 1rem;
  }
}

@media (min-aspect-ratio: 6/5) and (max-aspect-ratio: 3/2) {
  main {
    .news-card {
      height: calc(100vh - #{$header-height} - 7.5rem);
      width: calc(((100vh - #{$header-height} - 7.5rem) / 5 ) * 6);
    }

    #slideshow {
      height: calc(100vh - #{$header-height} - 7.5rem);
      width: calc(((100vh - #{$header-height} - 7.5rem) / 5 ) * 6);

      .two {
        height: calc(100vh - #{$header-height} - 7.5rem - 2.5rem);
        width: calc(((100vh - #{$header-height} - 7.5rem - 2.5rem) / 5 ) * 6);
        left: calc(((((100vh - #{$header-height} - 7.5rem) / 5 ) * 6) - (((100vh - #{$header-height} - 7.5rem - 2.5rem) / 5 ) * 6)) / 2);
      }

      .three {
        height: calc(100vh - #{$header-height} - 7.5rem - 5rem);
        width: calc(((100vh - #{$header-height} - 7.5rem - 5rem) / 5 ) * 6);
        left: calc(((((100vh - #{$header-height} - 7.5rem) / 5 ) * 6) - (((100vh - #{$header-height} - 7.5rem - 5rem) / 5 ) * 6)) / 2);
      }
    }
  }
}

@media (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {
  main {
    .news-card {
      height: calc(100vh - #{$header-height} - 7.5rem);
      width: calc(((100vh - #{$header-height} - 7.5rem) / 2 ) * 3);
    }

    #slideshow {
      height: calc(100vh - #{$header-height} - 7.5rem);
      width: calc(((100vh - #{$header-height} - 7.5rem) / 2 ) * 3);

      .two {
        height: calc(100vh - #{$header-height} - 7.5rem - 2.5rem);
        width: calc(((100vh - #{$header-height} - 7.5rem - 2.5rem) / 2 ) * 3);
        left: calc(((((100vh - #{$header-height} - 7.5rem) / 2 ) * 3) - (((100vh - #{$header-height} - 7.5rem - 2.5rem) / 2 ) * 3)) / 2);
      }

      .three {
        height: calc(100vh - #{$header-height} - 7.5rem - 5rem);
        width: calc(((100vh - #{$header-height} - 7.5rem - 5rem) / 2 ) * 3);
        left: calc(((((100vh - #{$header-height} - 7.5rem) / 2 ) * 3) - (((100vh - #{$header-height} - 7.5rem - 5rem) / 2 ) * 3)) / 2);
      }
    }
  }
}

@media (max-width:767px) {
  main, header nav, header #search-container {
    display: none;
  }

  #device-not-supported {
    display: flex;
  }
}